<div class="container">
    &copy; {{ "now" | date("Y") }} <a target="_blank" href="{{ site.url }}/">{{ site.my_full_name}}</a>
    <span class="pull-right">
        Source code on <a target="_blank" href="https://github.com/rogeriopradoj/rogeriopradoj.com">GitHub</a> - Powered by <a target="_blank" href="https://sculpin.io">Sculpin</a>
    </span>
</div>
