---
layout: default
title: 404 - Página não encontrada
permalink: 404.html
---
{% block content %}
<style type="text/css">
#goog-wm { }
#goog-wm h3.closest-match { }
#goog-wm h3.closest-match a { }
#goog-wm h3.other-things { }
#goog-wm ul li { }
#goog-wm li.search-goog { display: block; }
#goog-wm-qt {
color: black;
}
</style>
<div class="well error-not-found text-center">
    <h1><b>Erro 404</b></h1>
    <hr>
    <h3>A página que você procurou não foi encontrada.</h3>
    <script type="text/javascript">
    var GOOG_FIXURL_LANG = (navigator.language || '').slice(0,2),
        GOOG_FIXURL_SITE = location.host;
    </script>
    <script type="text/javascript" 
      src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
    <hr>
    <a class="btn btn-primary btn-lg" href="{{ site.url }}/">
        <span class="fa fa-home"></span> Voltar para tela inicial
    </a>
</div>
{% endblock %}

{% block post_js %}
<script>
  (function() {
    var element = $('#goog-wm-sb');
    element.val('Pesquisa Google');
    element.addClass("btn btn-xs btn-default");

    element = $('.other-things > b');
    element.text('Quer tentar a busca?')

    var element = $('.search-goog');
    element.html(element.html().replace('Search', 'Pesquisar em'));

  })();
</script>
{% endblock %}