---
layout: default
title: Categorias
use:
    - posts_categories
---
<h2>Categorias</h2>

<div class="categories-list">
    {% for category,posts in data.posts_categories %}
        <a class="btn btn-default" href="{{ site.url }}/category/{{ category|url_encode(true) }}/">{{ category }}</a>
    {% endfor %}
</div>
